header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(120deg, #8fd3f4 0%, #ecdefc 100%);
    font-size: 25px;
    font-family: Big John, Impact, sans-serif;
    font-weight: bold;
    border: 3px double black;
    padding: 5px;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Big John, Impact, sans-serif;
    border: 3px double black;
    margin: 0 auto;
    width: 400px;
    flex-wrap: nowrap;
    padding-top: 10px;
  background-image: linear-gradient(120deg, #ecdefc 0%, #fecfef 100%);
}

button {
    background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
    font-size: 24px;
    font-family: "Slim Joe", "Big John", Helvetica;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 1px solid black;
}

button:hover {
    background-image: linear-gradient(120deg, #8fd3f4 0%, #ecdefc 100%);
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: #ffe5f8;
}

p {
  font-family: Slim Joe, Impact, sans-serif;
  font-size: 22px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
}

li {
    font-family: Slim Joe, Impact, sans-serif;
}

#social img{
    width: 45px;
    height: 45px;
}

#social img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#social {
    padding: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-image: linear-gradient(120deg, #8fd3f4 0%, #ecdefc 100%);
    border: 1px solid black;
    border-top-style: hidden;
    margin: 0 auto;
    width: 100px;

}

.container {
  position: relative;
  width: 50%;
  padding: 10px;
}

.contained {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.color {
  background-color: #ffe5f8;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #87528c;
  color: #ffe5f8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: center;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin: 0 auto;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  font-family: "Slim Joe",Impact, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: linear-gradient(120deg, #8fd3f4 0%, #ecdefc 100%);
}

.container:hover .overlay {
  opacity: 1;
}

.photo {
  border: lightpink double 6px;
  height: 650px;
  width: 1050px;
  margin: 0 auto;
}


